*~
*.cat
*.cat.m
*.gmo
*.lo
*.mo
.*.*.mo
*.msg
*.o
*.old.po
*.pox
*.tab.c
.*.swp
ABOUT-NLS
at-spi-registryd-wrapper.desktop.in
./autom4te.cache
.deps
_libs
.libs
cat-id-tbl.tmp
config.cache
config.h
config.log
config.lt
config.rpath
config.status
config.status.lineno
configure.lineno
scdm.conf
scdm.conf-custom
scdm-display-glue.h
scdm-display-glue.c
scdm-local-display-glue.h
scdm-local-display-glue.c
scdm-local-display-factory-glue.h
scdm-local-display-factory-glue.c
scdm-manager-glue.c
scdm-manager-glue.h
scdm.pot
scdm-restart
scdm-safe-restart
scdm.schemas
scdm-session-glue.h
scdm-session-glue.c
scdm-session-worker-glue.h
scdm-session-worker-glue.c
scdm-static-display-glue.h
scdm-static-display-glue.c
scdm-static-factory-display-glue.h
scdm-stop
scdm-transient-display-glue.h
scdm-transient-display-glue.c
scdm-xdmcp-display-glue.h
scdm-xdmcp-display-glue.c
scdm-xdmcp-chooser-display-glue.h
scdm-xdmcp-greeter-display-glue.h
scdm-greeter-glue.h
scdm-greeter-glue.c
GNOME_FastUserSwitchApplet.server
GNOME_FastUserSwitchApplet.server.in
gnome-power-manager.desktop.in
gnome-settings-daemon.desktop.in
GPATH
GRTAGS
GSYMS
GTAGS
in
Init
.intltool-merge-cache
libscdmcommon.la
libscdmuser.la
libnotificationarea.la
libtool
Makefile
Makefile.in
Makefile.in.in
na-marshal.c
na-marshal.h
PostSession
POTFILES
PreSession
so_locations
stamp-h1
stamp-it
tags
TAGS
Xsession
INSTALL
aclocal.m4
autom4te.cache/
common/test-log
compile
config.guess
config.h.in
config.sub
configure
daemon/scdm
daemon/scdm-session-worker
daemon/scdm-wayland-session
daemon/scdm-x-session
daemon/test-session-client
daemon/test-external-greeter
daemon/scdm-session-enum-types.c
daemon/scdm-session-enum-types.h
data/applications/gnome-mag.desktop
data/applications/gnome-shell.desktop
data/applications/gnome-shell-wayland.desktop
data/applications/gok.desktop
data/applications/orca-screen-reader.desktop
data/autostart/caribou-autostart.desktop
depcomp
libscdm/scdm-client-glue.h
libscdm/scdm-client-glue.c
libscdm/scdm-manager-glue.h
libscdm/scdm-manager-glue.c
gui/simple-chooser/scdm-host-chooser
gui/simple-chooser/scdm-simple-chooser
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
ltmain.sh
m4/*.m4
missing
mkinstalldirs
tests/m-common
utils/scdm-screenshot
utils/scdmflexiserver
*.gschema.valid
*.la
*.pc
*.gir
*.typelib
*.tar.*
scdm-smartcard-worker
dconf-override-db

docs/*/*.stamp
docs/*/legal.xml
docs/*/index.docbook

po/*.gmo
po/*.header
po/*.sed
po/*.sin
po/.intltool-merge-cache
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/stamp-it

test-driver
